name: Deploy to Main Environment

on:
  workflow_dispatch:
    inputs:
      proxy_name:
        description: "Enter Proxy Name"
        required: true
        type: string

      environment:
        description: "Select Environment"
        required: true
        type: choice
        options:
          - eval
          - test
          - sandbox

jobs:
  deploy:
    name: Deploy Proxy to Main
    runs-on: ubuntu-latest

    environment: ${{ github.event.inputs.environment }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Variables
        run: |
          echo "PROXY_NAME=${{ github.event.inputs.proxy_name }}" >> $GITHUB_ENV
          echo "ENVIRONMENT=${{ github.event.inputs.environment }}" >> $GITHUB_ENV

      - name: Display Inputs
        run: |
          echo "Deploying Proxy: $PROXY_NAME"
          echo "Target Environment: $ENVIRONMENT"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Apigee CLI
        run: npm install -g apigeetool

      - name: Deploy Proxy to Apigee
        run: |
          apigeetool deployproxy \
          -u "${{ secrets.APIGEE_USERNAME }}" \
          -p "${{ secrets.APIGEE_PASSWORD }}" \
          -o "${{ secrets.APIGEE_ORG }}" \
          -e "$ENVIRONMENT" \
          -n "$PROXY_NAME" \
          -d "./apiproxy"
